body{
	background: url(../imagen/w.jpg);
	text-align: center;
	color: rgb(44, 56, 78); /*#FFF000;*/
	}

#logo_cole{
	width: 275px; 
	float: left;
} 

#titulo{
	width: 70%;
}

#titulo h3{
	color: orange;
	font-family: Arial; 
	font-weight: bold;
} 

#menu {
	background: rgb(30, 28, 28); 
	float: left;
	width: 14%;
}

#login{
	/*Iogin*/ 
	background: rgb(61, 57, 57); 
	width: 15%;
	float: right;
} 
 
#menu, #titulo, #login{ 
	display: inline-black;
	background: url(../images/fondo.jpg);
}

#fotogrande{
	width: 57%;
	border-radius: 5%;
} 

nav ul {
	list-style: none;
	overflow: hidden; /* Limpia errores de float */
	margin: 5px 30px auto;
}

nav ul li {
	List-style: none; /*quita las viñetas de la Iista */ 
	text-decoration: none;
	text-align: right;
	font-family: sans-serif; 
	font-size: 12px; 
	margin: 5px;
	padding: 0.2em;
}

nav ul li:hover {
	background: white;
	
}

nav ul li a {
	display: inline-block; /*a elementos bloque */ 
	text-decoration: none;
	text-transform: capitalize; 
	font-weight: bold; 
	padding: 5px;
	color: rgb(45, 39, 39);
}

a:hover{
	/* mouse cambia de color a opciones*/ 
	color: #468bde;
} 

#seccion{
	background: rgba(255, 166, 0, 0.395); 
	padding: 10px;
	

}

section article{
	background: url(../images/fondo.jpg); 
	display: block;
	width: 80%; 
	margin: auto; 
	padding: 10px;

}

#logocima{
	float: left;
}	

#my_foot{
	display: inline-block; 
	background: rgba(128, 0, 128, 0.37); 

	width: 98.5%; 
	padding: 10px;
	
}

#tweet{
	width: 30%;
	
	background: rgba(125, 3, 125, 0.45);
	border-radius: 5%;

} 

#fotos{
	width: 30%; 
	background: rgba(125, 3, 125, 0.45);
	border-radius: 5%;
}

#amigos{
	width: 30%;
	background: rgba(125, 3, 125, 0.45);
	border-radius: 5%;
} 


#tweet, #fotos, #amigos{
	display: inline-block; 
	vertical-align: top;
} 















